.bar {
  padding-top: 0.1rem;
  padding-bottom: 0.8rem;
  position: relative;
  cursor: pointer;
}

/* 
CUSTOM TOOLTIP
.bar:hover .tooltiptext {
  visibility: visible;
} 

    <div className={Styles["tooltiptext"]}> {endorsed} / {total}</div>
    
    .bar .tooltiptext {
      visibility: hidden;
      background-color: rgba(0, 0, 0, 0.048);
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 5px;
      position: absolute;
      z-index: 1;
      right: -20px;
      top: -30px;
    
      transition: 300ms;
    }
*/
